#home-page {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.red {
    color: #FF0000;
}

.green {
    color: #33FF3C;
}

#cta-enter {
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}

#fp-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#fp-modal p {
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

#table {
    // display: grid;
    border-collapse: collapse;
    box-shadow: 0 5px 10px gray;
    background-color: white;
    text-align: left;
    overflow: hidden;
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
}

td {
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}



